@media (max-width: 411px) {
  /* HEADER SMARTPHONE */
  .nav-title { 
    width="70%"
   }
  .Open {
    transform: translateX(-351px);
  }
  .menu-content {
    overflow-x: hidden;
    width: 351px;
    transform: translateX(0px);
  }

  /* MAIN SMARTPHONE */

  .transaction {
    border: none;
  }

  .title-transaction {
    display: none;
  }

  .field {
    display: flex;
    flex-direction: column;
  }

  .div-select,
  .div-name,
  .div-valor,
  .button-add {
    width: 100%;
    padding: 0px;
  }

  .button-add {
    margin-bottom: 27px;
  }

  .extract {
    border-top: solid #979797 1px;
  }
}
