@media (max-width:411px) {

    /* HEADER SMARTPHONE */

    ul {
        width: 100%;
    }

    a {
        padding-right: 20px;
    }

    .menu {
        width: 351px;
    }

    /* MAIN SMARTPHONE */

    body {
        overflow-y: scroll;
    }



    .transaction {
        border: none;
    }

    .title-transaction {
        display: none;
    }

    .field {
        display: flex;
        flex-direction: column;
    }

    .div-select,
    .div-name,
    .div-valor,
    .button-add {
        width: 100%;
        padding: 0px;
    }




    .button-add {
        margin-bottom: 27px;
    }

    .extract {
        border-top: solid #979797 1px;
    }
}