@media (max-width: 1112px) {

    /* TABLET LANDSCAPE HEADER*/


    .navbar {
        justify-content: space-around;
    }

    .logo-title {
        width: 60%;
    }

}


@media (max-width: 768px) {

    /* TABLET PORTRAIT HEADER*/
    .navbar {
        justify-content: space-between;
    }


    .logo-title {
        width: 100%;
        margin:0px;
        padding-left:22px;
    }

    .nav-title {
        width: 100%;
        text-align: center;
        padding:0px;
    }



    .div-li {
        display: none;
    }

    /*MENU HAMBURGUER TABLET*/

    .hamburguer {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

     .menu {
        display: none;
        padding: 0;
        width: 252px;
    } 
    




    .div_close {
        display: none;
    } 

    .div_close {
        width: 100%;
        display: flex;
        justify-content: left;
        margin-top: -15px;

    } 

    .div_close img {
        padding-left: 20px;
        padding-bottom: 26px;
        cursor: pointer;
        background-color: #333333;
    }


   

    .Open {
        position: fixed;
        height: 100vh;
        background: #333333;
        top: 0;
        right: 0;
        overflow-x: hidden;
        display: flex;
        transition: 0.5px;
        flex-direction: column;
        padding-top: 20px;
        justify-content: flex-start;
        z-index: 2;
        
    }


    .menu-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #333333;
        padding: 0;
    }

    .menu-content .div-li {
        display: none;
    }

    .menu-content li {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
    }

   li a{
       display: flex;
       height: 32px;
       padding: 0px 20px 7px 0px;
       align-items: center;

   }

    .menu-content li:hover {
        background: #C4C4C4;
        color: black;
    }


    /* MAIN TABLET PORTRAIT*/

    .sections {
        flex-direction: column;
        align-items: center;
    }

    .transaction {
        width: 90%;
    }

    .extract {
        padding: 2px;
        width: 94%;
    }

    .transaction {
        display: block;
        flex-direction: row;
    }

    .field {
        display: flex;
    }

    .title-transaction {
        text-align: center;
        padding-bottom: 21px;
    }

    .div-select {
        width: 25%;
    }

    .type-transaction {
        padding-top: 20px;
        white-space: nowrap;
    }

    .div-name {
        width: 60%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .div-valor {
        width: 35%;
    }

    .div-button {
        text-align: end;

    }

    #inpt-select {
        height: 36px;

    }

    .inpt-name,
    .inpt-valor {
        width: 100%;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #333333;
    }

    .button-add {
        margin-top: 20px;
        width: 35%;
    }
}