@media (max-width: 1112px) {
  /* TABLET LANDSCAPE HEADER*/

  .navbar {
    justify-content: space-around;
  }

  .logo-title {
    width: 60%;
  }
}

@media (max-width: 768px) {
  /* TABLET PORTRAIT HEADER*/
  .navbar {
    justify-content: space-between;
  }

  .logo-title {
    width: 100%;
    margin: 0px;
    padding-left: 22px;
  }

  .nav-title {
    width: 80%;
    text-align: center;
    padding: 0px;
  }

  .div-li {
    display: none;
  }

  /*MENU HAMBURGUER TABLET*/

  .hamburguer {
    position: absolute;
    display: block;
    cursor: pointer;
    margin-right: 20px;
    z-index: 1;
    right: 0;
  }

  .div_close {
    width: 100%;
    text-align: start;
  }

  .div_close img {
    padding-left: 20px;
    cursor: pointer;
    background-color: #333333;
  }

  .menu-content {
    display: none;
  }

  .Open {
    position: fixed;
    height: 100vh;
    background: #333333;
    transition: 0.7s ease-out;
    top: 0;
    right: 0;
    display: flex;
    transform: translateX(-256px);
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    z-index: 2;
    padding: 0px;
  }

  .div_close {
    position: absolute;
    display: block;
  }
  .menu-content {
    position: fixed;
    display: block;
    padding: 0px;
    padding-top: 15px;
    margin: 0px;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    background: #333333;
    text-align: end;
    width: 256px;
    transform: translateX(0px);
    z-index: 3;
  }

  .menu-content li {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
  }
  .list-1 {
    margin-top: 26px;
  }
  li a {
    /* margin-top: 20px; */
    display: flex;
    height: 32px;
    padding: 0px 20px 7px 0px;
    align-items: center;
  }

  .menu-content li:hover {
    background: #c4c4c4;
    color: black;
  }

  .menu-content .div-li {
    display: none;
  }

  /* .menu-content li {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
  } */

  li a {
    display: flex;
    height: 32px;
    padding: 0px 20px 7px 0px;
    align-items: center;
  }

  /* .menu-content li:hover {
    background: #c4c4c4;
    color: black;
  } */

  /* MAIN TABLET PORTRAIT*/

  .sections {
    flex-direction: column;
    align-items: center;
  }

  .transaction {
    width: 90%;
  }

  .extract {
    padding: 2px;
    width: 94%;
  }

  .transaction {
    display: block;
    flex-direction: row;
  }

  .field {
    display: flex;
    align-items:center;
  }

  .title-transaction {
    text-align: center;
    padding-bottom: 21px;
  }

  .div-select {
    width: 25%;
  }

  .type-transaction {
    padding-top: 20px;
    white-space: nowrap;
  }

  .div-name {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-valor {
    width: 35%;
  }

  .div-button {
    text-align: end;
  }

  #inpt-select {
    height: 36px;
  }

  .inpt-name,
  .inpt-valor {
    width: 100%;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #333333;
  }

  .button-add {
    margin-top: 20px;
    width: 35%;
  }
}
